<div class="spinner" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<div class="poll-station">
  <div class="poll-title">
    How many days do you want G2G to last next year?
    <img src="../../assets/dog-what.png" />
  </div>

  <div
    class="poll-option"
    *ngFor="let in of setArrayFromNumber(5); let i = index"
    (click)="chooseOption(i)"
    [ngClass]="{ 'option-clicked': isClassApplied(i) }"
  >
    {{ answerOptions[i] }}
  </div>

  <button class="poll-button" [ngClass]="voted" (click)="voteAndGoToResults()">
    Vote
  </button>
</div>
