.poll {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;

  img {
    padding-top: 150px;
    width: 300px;
    height: 300px;
  }
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  img{
    width: 250px;
    height: 250px;  
  }
}
